<div class="col-12 border rounded-3 border-5 p-0 border-dark m-2">
      <div class="d-flex justify-content-between title p-2">
        <h4 class="event-title">{{title}}</a></h4><h6 class="author">Posted by: {{user.name}} on {{format_date date_created}}</h6>
        </div>
        <h3 class="content p-2">{{content}}</h3>
        <p>Category: {{category.name}}</p>
        <h3>Participants</h3>
        <p>Date of the event: {{format_date date_celebration}}</p>
        <a href="{{link}}">Go to the event</a>
        {{#each participants as |participant|}}
        <span> *{{participant.name}}* </span>
        {{/each}}

        <button id="participate-button" data-id="{{id}}" > Participate! </button>
    <button id="dont-button" data-id="{{id}}"> Don't participate</button>
    </div>

{{#if messages.length}}
  <div class="col-12 comment-list">
    <h3>messages:</h3>
    {{#each messages as |message|}}
     <div><p>{{message.content}}</p><span>{{format_time date_created}} at {{format_date date_created}}</span></div>
    {{/each}}
  </div>
  {{/if}}

<div class="col-12 border rounded-3 border-5 p-0 border-dark" style="margin-bottom: 100px">
<form class="form message-form" data-id="{{id}}">
      <div class="form-group m-2">
        <label class="col-12" for="add-message">Add a message:</label>
        <textarea class="form-input col-12" type="text" id="add-message"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="message-button">Post</button>
      </div>
      
</form>
</div>

  <script src="/js/message.js"></script>
  <script src="/js/userEvent.js"></script>