<div class="row d-flex justify-content-center m-2 mb-5">
  <div class="col-12 col-sm-6 p-3 rounded-3 mb-5" id="event-container">
      <div class="d-flex justify-content-between title">
        <h4 class="event-title">{{title}}</a></h4><h6 class="author">Posted by: {{user.name}} on {{format_date date_created}}</h6>
        </div>

        <p style="height: 100px; overflow:auto; box-shadow: inset 0 0 5px black" id="event-data" class="p-2 event-content">{{content}}</p>
        <p id="event-data" class="mb-0">Category: {{category.name}}</p>
        <p id="event-data" class="mb-0">Link to event: <a id="join-event" style="text-decoration: underline;" href="{{link}}">Join</a> </p>
        <p id="event-data" class="mb-0">Date of the event: {{format_date date_celebration}} at {{format_time  date_celebration}}</p>
        <h3 id="event-data" class="mb-2">Confirmed participants: {{#each participants as |participant|}}
        <span> {{participant.name}} </span>
        {{/each}}</h3>
        <button id="participate-button" data-id="{{id}}" > Participate! </button>
        <button id="dont-button" data-id="{{id}}"> Don't participate</button>

    <p class="mb-0">Tags:</p>
        <div style="overflow:auto; white-space:nowrap">
        {{#each event_tags as |tag|}}
        <div id="tags" class="p-1">
        <span style="font-weight: bold"> {{tag.tag_name}} </span>
        </div>
        {{/each}}
        </div>
        <a style="text-decoration: underline;" id="add-tag" href="/addtags/{{id}}">+ Add new tags</a>   
    </div>

  <div class="col-12 col-sm-5">
  <div class="comment-list rounded-3">
    <h3 class= "p-2 m-0" style="border-bottom: #5f5dbd solid; position:sticky; top:0; background:var(--third-color); width:100%;">Event messages:</h3>
    <div class="p-2">
    {{#if messages.length}}
    {{#each messages as |message|}}
     <div style="font-weight:bold"class="m-3 p-2" id="comment"><p class="mb-0">{{message.content}}</p><span id="posted-by">Posted by: {{user.name}} on {{format_date date_created}} {{format_time date_created}}</span></div>
    {{/each}}
    {{else}}
    <h3>There are no messages yet.</h3>
     {{/if}}
     </div>
  </div>
  <div class="row rounded-3 d-flex justify-content-center">
<form class="form message-form col-12" data-id="{{id}}">
      <div class="form-group m-2">
        <label class="col-12" for="add-message">Add a message:</label>
        <textarea class="form-input col-12" rows="1" type="text" id="add-message"></textarea>
      </div>
      <div class="form-group d-flex justify-content-center">
        <button class="btn" type="submit" id="message-button">Post</button>
      </div>
</form>
</div>
</div>

  </div>

  <script src="/js/message.js"></script>
  <script src="/js/userEvent.js"></script>