<div class="row" id="subtitle">
  <div class="col-12">
    <h2>Welcome {{name}}!</h2>
  </div>
</div>

<div class="row">
{{#if participating.length}}
  <div class="row event-list d-flex justify-content-center">
    <h3 id="subtitle">This are your upcoming events:</h3>
    {{#each participating as |event|}}
    <div id="event-container" class="col-12 col-sm-3 rounded-3">
      <a href="/event/{{event.id}}" class="btn-outline-primary">
      <div class="title p-2">
        <h3 class="event-title">{{event.title}}</h3>
        <h4 id="event-data"class="event-content">{{event.content}}</h4>
        <h5 id="event-data"class="date_celebration">Event Date: {{format_date event.date_celebration}}</h5>
        <h5 id="event-data">Time: {{format_time event.date_celebration}}</h5>
        <h6 class="author">Posted by: {{event.user.name}} on {{format_date date_created}}</h6>
        </div>
        </a>
    </div>
    {{/each}}
    {{else}}
    You don't have any events!
  </div>
  {{/if}}
  </div>
