<div class="row d-flex justify-content-center">
{{#each tagged_events as |event|}}
<a href="/event/{{event.id}}" class="col-12 col-md-3 m-2 category rounded-3 btn-outline-primary event-card" data-id="{{event.date_celebration}}">
      <div class="p-2" id="event-container btn-outline-primary">
        <h4 class="event-title">{{event.title}}</h4>
        <p style="padding:5px; height: 100px; overflow:auto; box-shadow: inset 0 0 5px black" id="event-data" class="event-content">Details: {{event.content}}</p>
        <h4 style="font-size:1.5em;" id="event-data" class="data_celebration"> Event Date: <br>{{format_date event.date_celebration}} at {{format_time event.date_celebration}}</h4>
        <h4  class="p-1 author">Posted by: {{event.user.name}} on {{format_date date_created}}</h4>
        </div>
      </a>
{{/each}}
</div>
  <script src="/js/timecheck.js"></script>
